[submodule "Engine/Core/Collision"]
	path = Engine/Core/Collision
	url = http://github.com/UD-Engine/Collision.git
[submodule "Engine/Core/Pool"]
	path = Engine/Core/Pool
	url = http://github.com/UD-Engine/Pool.git
[submodule "Engine/Core/Shooter"]
	path = Engine/Core/Shooter
	url = http://github.com/UD-Engine/Shooter.git
[submodule "Engine/Plugin"]
	path = Engine/Plugin
	url = http://github.com/UD-Engine/Plugin.git
