[submodule "Engine/Collision"]
	path = Engine/Core/Collision
	url = git@github.com:UD-Engine/Collision.git
[submodule "Engine/Pool"]
	path = Engine/Core/Pool
	url = git@github.com:UD-Engine/Pool.git
[submodule "Engine/Shooter"]
	path = Engine/Core/Shooter
	url = git@github.com:UD-Engine/Shooter
[submodule "Engine/Plugin"]
	path = Engine/Plugin
	url = git@github.com:UD-Engine/Plugin.git
